# when not working try this to update the ignored files
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"



*~
*.*~
*.zip
*.tar.gz

# html
*_files/*

# videos
*.mp4
*.srt
*.vtt

# python stuff
*.pyc
*.pyo
*/__pycache__/*


#ipython stuff
.ipynb_checkpoints

# concepts
linear_algebra/*
linear_regression/*
neural_networks/*
SVMs/*

################################################################################
# Courses
################################################################################

#===============================================================================
## curso_stanford/
#===============================================================================

curso_stanford/*

#===============================================================================
## curso_uw/
#===============================================================================

# avoid local links
!curso_uw/ipython_books/ipython2
!curso_uw/ipython_books/launcher_ipython2

# notebooks

# tools
curso_uw/tools/sframe/doc/*

# programming_exercices
curso_uw/programming_exercices/1.predicting_house_prices/statement/local_copy/*
curso_uw/programming_exercices/1.predicting_house_prices/enunciado
curso_uw/programming_exercices/1.predicting_house_prices/sframe_doc
curso_uw/quizzes/*

#===============================================================================

