# when not working try this to update the ignored files
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"



*~
*.*~
*.zip
*.tar.gz

# html
*_files/*

# videos
*.mp4
*.srt
*.vtt

# python stuff
*.pyc
*.pyo
*/__pycache__/*


#ipython stuff
.ipynb_checkpoints

# topics
topics/linear_algebra/*
topics/linear_regression/*
topics/neural_networks/*
topics/SVMs/*


################################################################################
# Courses
################################################################################

#===============================================================================
## cursos/curso_stanford/
#===============================================================================

cursos/curso_stanford/*
!cursos/curso_stanford/cs229-notes1.pdf
# !cursos/curso_stanford/lectures

!cursos/curso_stanford/lectures/IX. Neural Networks Learning (Week 5)/nn1.pdf
!cursos/curso_stanford/lectures/VI. Logistic Regression (Week 3)/Logistic Regression/Lecture6.pdf
!cursos/curso_stanford/lectures/VII. Regularization (Week 3)/Regularization/Lecture7.pdf
!cursos/curso_stanford/lectures/VIII. Neural Networks Representation (Week 4)/Neural Networks- Representation/Lecture8.pdf
!cursos/curso_stanford/lectures/VIII. Neural Networks Representation (Week 4)/nn1.pdf
!cursos/curso_stanford/lectures/X. Advice for Applying Machine Learning (Week 6)/Lecture10.pdf
!cursos/curso_stanford/lectures/XI. Machine Learning System Design (Week 6)/Lecture11.pdf
!cursos/curso_stanford/lectures/XII.Support_Vector_Machines (Week 7)/Lecture12.pdf
!cursos/curso_stanford/lectures/XIII. Clustering (Week 8)/Lecture13.pdf
!cursos/curso_stanford/lectures/XIV. Dimensionality Reduction (Week 8)/Lecture14.pdf
!cursos/curso_stanford/lectures/XV. Anomaly Detection (Week 9)/Lecture15.pdf
!cursos/curso_stanford/lectures/XVI.Recommender_Systems/Lecture16.pdf
!cursos/curso_stanford/lectures/XVII. Large Scale Machine Learning (Week 10)/Lecture17.pdf
!cursos/curso_stanford/lectures/XVIII. Application Example .Photo OCR/Lecture18.pdf


#===============================================================================
## cursos/curso_uw/
#===============================================================================

# avoid local links
!cursos/curso_uw/ipython_books/ipython2
!cursos/curso_uw/ipython_books/launcher_ipython2

# notebooks

# tools
cursos/curso_uw/tools/sframe/doc/*

# programming_exercices
# 1
cursos/curso_uw/programming_exercices/1.predicting_house_prices/statement/local_copy/*
cursos/curso_uw/programming_exercices/1.predicting_house_prices/enunciado
cursos/curso_uw/programming_exercices/1.predicting_house_prices/sframe_doc
cursos/curso_uw/programming_exercices/1.predicting_house_prices/home_data.gl/*
# 2
cursos/curso_uw/programming_exercices/2.analyzing_product_sentiment/amazon_baby.gl/*
# 3
cursos/curso_uw/programming_exercices/3.retrieving_wikipedia_articles/people_wiki.gl/*

# quizzes
cursos/curso_uw/quizzes/*


#===============================================================================

