# when not working try this to update the ignored files
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"



*~
*.*~
*.zip
*.tar.gz

# html
*_files/*

# videos
*.mp4
*.srt
*.vtt

# python stuff
*.pyc
*.pyo
*/__pycache__/*


#ipython stuff
.ipynb_checkpoints

# topics
topics/linear_algebra/*
topics/linear_regression/*
topics/neural_networks/*
topics/SVMs/*


################################################################################
# Courses
################################################################################

#===============================================================================
## cursos/curso_stanford/
#===============================================================================

cursos/curso_stanford/*
!cursos/curso_stanford/cs229-notes1.pdf
!cursos/curso_stanford/IX.Neural_Networks_Learning/nn1.pdf
!cursos/curso_stanford/VI.Logistic_Regression/Logistic Regression/Lecture6.pdf
!cursos/curso_stanford/VII.Regularization/Regularization/Lecture7.pdf
!cursos/curso_stanford/VIII.Neural_Networks_Representation/Neural Networks- Representation/Lecture8.pdf
!cursos/curso_stanford/VIII.Neural_Networks_Representation/nn1.pdf
!cursos/curso_stanford/X.Advice_for_Applying_Machine_Learning/Lecture10.pdf
!cursos/curso_stanford/XI.Machine_Learning_System_Design/Lecture11.pdf
!cursos/curso_stanford/XII.Support_Vector_Machines/Lecture12.pdf
!cursos/curso_stanford/XIII.Clustering/Lecture13.pdf
!cursos/curso_stanford/XIV.Dimensionality_Reduction/Lecture14.pdf
!cursos/curso_stanford/XV.Anomaly_Detection/Lecture15.pdf
!cursos/curso_stanford/XVI.Recommender_Systems/Lecture16.pdf
!cursos/curso_stanford/XVII.Large_Scale_Machine_Learning/Lecture17.pdf
!cursos/curso_stanford/XVIII.Application_Example.Photo_OCR/Lecture18.pdf




#===============================================================================
## cursos/curso_uw/
#===============================================================================

# avoid local links
!cursos/curso_uw/ipython_books/ipython2
!cursos/curso_uw/ipython_books/launcher_ipython2

# notebooks

# tools
cursos/curso_uw/tools/sframe/doc/*

# programming_exercices
# 1
cursos/curso_uw/programming_exercices/1.predicting_house_prices/statement/local_copy/*
cursos/curso_uw/programming_exercices/1.predicting_house_prices/enunciado
cursos/curso_uw/programming_exercices/1.predicting_house_prices/sframe_doc
cursos/curso_uw/programming_exercices/1.predicting_house_prices/home_data.gl/*
# 2
cursos/curso_uw/programming_exercices/2.analyzing_product_sentiment/amazon_baby.gl/*
# 3
cursos/curso_uw/programming_exercices/3.retrieving_wikipedia_articles/people_wiki.gl/*

# quizzes
cursos/curso_uw/quizzes/*


#===============================================================================

